# Web app
streamlit==1.50.0

# Manipulação de dados
pandas==2.2.3
numpy==2.2.1

# Requests HTTP
requests==2.32.3

# Google APIs
gspread==6.2.1
google-auth==2.41.1
google-auth-oauthlib==1.2.2
google-api-python-client==2.185.0

# Selenium para automação
selenium==4.36.0
loguru==0.7.3
