# Web app
streamlit==1.50.0

# Manipulação de dados
pandas==2.2.4
numpy==1.25.0

# Requests HTTP
requests==2.31.0

# Google APIs
gspread==6.4.0
google-auth==2.23.0
google-auth-oauthlib==1.2.0
google-api-python-client==2.100.0

# Selenium para automação
selenium==4.10.0
webdriver-manager==5.6.0

# Outros úteis
rich==14.2.0
markdown-it-py==4.0.0
mdurl==0.1.2
